body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  color: #333;
}

header {
  background-color: #007bff;
  color: white;
  padding: 30px 10px;
  text-align: center;
}

.logo h1 {
  margin: 0;
  font-size: 2.5em;
}

.logo p {
  font-style: italic;
  margin: 10px 0 0;
}

.welcome {
  background: #f8f9fa;
  padding: 50px 20px;
  text-align: center;
}

.content h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.content p {
  max-width: 600px;
  margin: 0 auto 10px;
  padding: 0 15px;
  font-size: 1.4em;
}

.button-container {
  margin-top: 20px;
}

.btn-primary {
  display: inline-block;
  padding: 20px 30px;
  background-color: #288ea7;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #3eb8d6;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 16.3px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer nav ul {
  list-style: none;
  padding: 0;
}

footer nav ul li {
  display: inline;
  margin: 0 15px;
}

footer .social-links {
  margin-top: 10px;
}

footer .social-links a {
  color: white;
  margin: 10 30px;
  text-decoration: none;
}

footer .social-links a:hover {
  text-decoration: underline;
}
footer a#about {
  color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .logo h1 {
      font-size: 2em;
  }

  .content h2 {
      font-size: 1.8em;
  }
  
  .btn-primary {
      padding: 8px 16px;
  }
}